.capable_shape1 {
  top: 20%;
  z-index: -1;
}
.capable_service_data {
  /* padding-top: 10%; */
}
.work_togehter_shape {
  bottom: -10%;
  left: 40%;
}
.why_choose_us_text {
  color: #888888;
}

.capable_service_dev_card_left {
  left: 10%;
}
.capable_service_dev_card_right {
  right: 20%;
  top: 40%;
}
.capable_service_dev_card_text {
  max-width: 408px;
}
.capable_service_dev_card_left2 {
  left: 10%;
  top: 70%;
}

.capable_service_dev_card_center {
  top: 99%;
  right:20%;
}
.software_container {
  margin-bottom: 21%;
}
    .capable_card{
  height:300px;
}

@media (max-width: 576px) {
  .Capable_service_icon1 {
    max-width: 60px;
  }
  .capable_service_card .card {
    height: 250px;
    width: 350px;
  }
  .capable_service_card_text {
    max-width: 320px;
  }
    .capable_card{
  height:230px;
}

}
@media (min-width:576px) and (max-width: 768px) {
  .capable_service_card {
    height: 250px;
  }
   .capable_service_card .card {
    height: 250px;
    width: 450px;
  }
   .capable_service_card_text {
    max-width: 400px;
  }
    .capable_card{
  height:200px;
}

}
@media (min-width: 768px) and (max-width: 1550px) {
  .why_choose_us {
    margin-top: 8%;
  }
  .capable_card{
  height:250px;
}
}
.privacy_card{
  height:150px
}

